html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  margin-top: 74px;
  font-family: "Open Sans", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 100px;
  padding-right: 100px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 17px;
  padding-bottom: 16px;
  background-color: #ffd700;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 90;
}

.nav__brand {
  display: inline-block;
}

.nav__logo {
  width: 190px;
  display: block;
}

.nav__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__lists.open {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: openmenu 0.2s forwards linear;
          animation: openmenu 0.2s forwards linear;
}

@-webkit-keyframes openmenu {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes openmenu {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.nav__lists.close {
  -webkit-animation: closemenu 0.2s forwards linear;
          animation: closemenu 0.2s forwards linear;
}

@-webkit-keyframes closemenu {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes closemenu {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav__list--links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav__list--langs {
  position: absolute;
  top: 100%;
  right: 0;
  border-radius: 0 0 4px 4px;
  width: 100%;
  height: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
}

.nav__item {
  line-height: 1.5;
}

.nav__link {
  text-decoration: none;
  color: #534100;
  text-transform: uppercase;
  display: inline-block;
}

.nav__dropdown {
  position: relative;
  margin-left: 30px;
}

.nav__lang {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px dotted #534100;
  padding: 6px;
  border-radius: 4px;
  font-size: 15px;
  color: #534100;
  cursor: pointer;
  -webkit-transition: 0.2s border-radius linear;
  transition: 0.2s border-radius linear;
  -webkit-perspective: 1200px;
          perspective: 1200px;
}

.nav__lang > .lang__text {
  font-weight: bold;
}

.nav__lang > i {
  font-size: 13px;
  -webkit-transition: 0.2s -webkit-transform linear;
  transition: 0.2s -webkit-transform linear;
  transition: 0.2s transform linear;
  transition: 0.2s transform linear, 0.2s -webkit-transform linear;
}

.nav__list--links .nav__item {
  margin-left: 30px;
}

.nav__list--links .nav__link {
  font-weight: bold;
}

.lang__img {
  width: 24px;
}

.lang__text {
  display: inline-block;
  margin-left: 4px;
  margin-right: 3px;
}

.lang {
  width: 100%;
  padding: 4px 0;
  -webkit-transition: 0.2s background-color linear;
  transition: 0.2s background-color linear;
}

.lang:hover {
  background-color: rgba(255, 255, 255, 0.85);
}

.lang:first-child {
  border-bottom: 1px dotted #534100;
}

.lang .nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

.dropdown--show {
  border: 1px dotted #534100;
  border-top: 0;
  opacity: 1;
  height: 60px;
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.nav__lang.active {
  border-radius: 4px 4px 0 0;
}

.nav__lang.active > i {
  -webkit-transform: rotateX(180deg) translateY(1px);
          transform: rotateX(180deg) translateY(1px);
}

#toggler {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
  padding: 0;
  -webkit-transition: 0.2s -webkit-transform linear;
  transition: 0.2s -webkit-transform linear;
  transition: 0.2s transform linear;
  transition: 0.2s transform linear, 0.2s -webkit-transform linear;
}

#toggler.open {
  z-index: 110;
  color: #ffd700;
  -webkit-transform: translate(28px, -8px) scale(0.8);
          transform: translate(28px, -8px) scale(0.8);
}

#toggler__img {
  display: block;
  width: 48px;
  height: 48px;
}

#toggler .line {
  fill: none;
  stroke: #534100;
  stroke-width: 6;
  -webkit-transition: stroke-dasharray 0.5s cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition: stroke-dasharray 0.5s cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

#toggler .line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

#toggler .line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}

#toggler .line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

#toggler.open .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

#toggler.open .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

#toggler.open .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

#menu-curtain {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 80;
  cursor: pointer;
  display: none;
}

#menu-curtain.open {
  display: block;
  -webkit-animation: openMenuCurtain 0.2s forwards linear;
          animation: openMenuCurtain 0.2s forwards linear;
}

@-webkit-keyframes openMenuCurtain {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes openMenuCurtain {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#menu-curtain.close {
  -webkit-animation: closeMenuCurtain 0.2s forwards linear;
          animation: closeMenuCurtain 0.2s forwards linear;
}

@-webkit-keyframes closeMenuCurtain {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes closeMenuCurtain {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.nav__item.hidden {
  display: none;
  margin-bottom: 10px;
}

.swiper__slide {
  position: relative;
}

.swiper__slide > img {
  display: block;
}

.swiper__box {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.swiper__caption {
  padding: 25px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 40px;
}

.swiper__title {
  margin: 0;
}

.swiper__link {
  display: inline-block;
  text-decoration: none;
  background-color: #ffd700;
  color: #000000;
  padding: 7px 15px;
  border-radius: 4px;
}

.swiper__button {
  width: 40px;
  height: 45px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  color: #ffd700;
  background-color: rgba(0, 0, 0, 0.4);
}

.swiper__button::after {
  font-size: 27px;
}

@media (max-width: 1335px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 1225px) {
  .container {
    padding-left: 45px;
    padding-right: 45px;
  }
  .nav__logo {
    width: 185px;
  }
  .nav__list--links .nav__item {
    margin-left: 25px;
  }
  .nav__dropdown {
    margin-left: 25px;
  }
}

@media (max-width: 1160px) {
  #toggler {
    display: block;
  }
  .nav__lists {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    min-height: 100%;
    background-color: aqua;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    padding: 20px;
    display: none;
    -webkit-transition: 0.2s -webkit-transform linear;
    transition: 0.2s -webkit-transform linear;
    transition: 0.2s transform linear;
    transition: 0.2s transform linear, 0.2s -webkit-transform linear;
  }
  .nav__list--links {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav__list--links .nav__item {
    line-height: 2;
    margin-left: 0;
  }
  .nav__dropdown {
    margin-left: 0;
    margin-top: 15px;
  }
  .nav__list--langs {
    position: static;
  }
}

@media (max-width: 1025px) {
  .container {
    padding-left: 35px;
    padding-right: 35px;
  }
  .nav {
    padding-top: 13px;
    padding-bottom: 12px;
  }
}

@media (max-width: 820px) {
  .nav {
    padding-top: 11px;
    padding-bottom: 10px;
  }
  .nav__logo {
    width: 180px;
  }
  #toggler {
    margin-right: -2px;
  }
}

@media (max-width: 700px) {
  .nav__logo {
    width: 160px;
  }
  #toggler__img {
    width: 45px;
    height: 45px;
  }
}

@media (max-width: 600px) {
  .container {
    padding-left: 25px;
    padding-right: 25px;
  }
  .nav {
    padding-top: 9px;
    padding-bottom: 8px;
  }
  #toggler.open {
    -webkit-transform: translate(22px, -6px) scale(0.83);
            transform: translate(22px, -6px) scale(0.83);
  }
}

@media (max-width: 475px) {
  .nav__logo {
    -webkit-transition: 0.2s -webkit-transform linear;
    transition: 0.2s -webkit-transform linear;
    transition: 0.2s transform linear;
    transition: 0.2s transform linear, 0.2s -webkit-transform linear;
  }
  .has-sidenav > .nav__brand > .nav__logo {
    -webkit-transform: scale(0.8) translateX(-35px);
            transform: scale(0.8) translateX(-35px);
  }
}

@media (max-width: 400px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .nav {
    padding-top: 8px;
    padding-bottom: 7px;
  }
  #toggler.open {
    -webkit-transform: translate(13px, -6px) scale(0.83);
            transform: translate(13px, -6px) scale(0.83);
  }
  .has-sidenav > .nav__brand > .nav__logo {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .nav__item.hidden {
    display: block;
  }
}

@media (max-width: 350px) {
  .nav__lists {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */